aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
appdirs==1.4.4
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
dateutils==0.6.12
distlib==0.3.6
Django==4.2.3
django-filter==23.2
djangorestframework==3.14.0
Faker==15.3.4
filelock==3.10.7
fonttools==4.42.1
frozendict==2.3.8
frozenlist==1.4.0
html5lib==1.1
idna==3.4
joblib==1.3.2
kiwisolver==1.4.5
lxml==4.9.3
Markdown==3.4.3
matplotlib==3.7.2
multidict==6.0.4
multitasking==0.0.11
mysql==0.0.3
mysqlclient==2.1.1
nsepy==0.8
nsetools==1.0.11
numpy==1.24.2
packaging==23.1
pandas==2.1.0
Pillow==10.0.0
platformdirs==3.2.0
PyJWT==2.8.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.6
requests==2.31.0
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.3
threadpoolctl==3.2.0
twilio==8.5.0
tzdata==2022.6
urllib3==2.0.3
virtualenv==20.21.0
webencodings==0.5.1
yarl==1.9.2
yfinance==0.2.28
